
body {
  /* background-image: url('/images/gymphoto.jpg'); */
  padding:0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
}

 header{
  display: grid;
  justify-content: center;
  background-color:  #2BBBAD;
  color:white;
  padding: 0px;
  margin:0px;
} 

footer{
  color:white;
  background-color:#2BBBAD ;
  padding: 10px;
  width: 100vw;
  height: 5vh;
}
.Gym{
  background-image:url('/images/gymphoto2.jpg');
  background-size: cover;
  width: 100vw;
  height:70rem;
  display: grid;
  text-align: center;
}
.Nutrition{
background-image:url('/images/food.jpg');
background-repeat: no-repeat;
width:100vw;
height: 100vh;
}

/* .col{
  padding: 1rem;
  background-color:rgba(0,0,0,.3);
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  } */
  .col .homepage{
      padding: 1rem;
      margin: 1rem;
      background-color:rgba(0,0,0,.3);
      text-align: center;
      display:flex;
      justify-content: center;
      align-items: center;
      }
    